body{
  font-family: arial;
}

.sair{
  float:right;
  position: absolute;
  top:50%;
  left: 95%;
  margin-top: -10px;
  }

.div-form{
  width:50%;
  border: solid 1px black;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  height:425px;
  }

  .div-form label{
    float:left;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 10px;
    background-color: #fff;
  }

.div-result{
  width:80%;
  position: absolute;
  left:50%;
  margin-left: -40%;
  top: 525px;
}

.login{
  background-color: #fff;
  width:400px;
  height: 300px;
  border: solid 1px #000;
  border-radius:10px;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -150px;
  margin-left:-200px;
  padding:10px;
}
